<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos -->
  <meta charset="utf-8">
  <meta name="author" content="Jesica Ortolanis">
  <meta name="description" content="Pagina web de muñecos tejidos al crochet">
  <meta name="keywords" content="amigurumis, muñecos, tejido, crochet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <!--Íconos de Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

  <!-- CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- Titulo -->
  <title>Mi mundo Amigurumis | Tejidos con amor</title>

  <!--Logo para la pestaña de la ventana-->
  <link rel="icon" type="image/x-icon" href="/images/favicon.logoparapestaña.png">

  <!-- Fuentes de GoogleFonts para títulos-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Halant:wght@300&family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@1,500&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

  <!-- íconos en botones de Cerrar sesión y Nuevo de la seccion Novedades-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Barra de navegacion -->
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img class="imagen-ovillolana rounded-circle" src="/images/favicon.logoparapestaña.png" width="50" alt="Logo de pagina web">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
        aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
        </ul>
      </div>
    </div>
  </nav>
  {{{body}}}

  <!-- Sección Pie de página (Footer)-->
  <footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    

    <p>{{message}}</p>


    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    </div>

    <div class="derechos-de-autor"> Creado por Jésica Ortolanis (2023) &#169;</div>
  </footer>
</body>

</html>